.error-container {
    display: flex;
    flex: 1 0 100%;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10%;
    background-color: #f8f8f8;

    h1 {
        margin-bottom: 10px;
    }

    .message {
        font-size: 16px;
    }
}

.loader-container {
    display: flex;
    flex: 1 0 100%;
    align-items: flex-start;
    justify-content: center;
    background-color: #f8f8f8;

    .shadow {
        height: 20px;
        box-shadow: 1px,
    }

    .message {
        margin-top: 10%;
        font-size: 16px;
        color: #666;
    }
}
