{
    "extends": ["skbkontur-retail"],
    "rules": {
        "import/no-unresolved": "off",
        "import/order": ["error", { "newlines-between": "always" }],
        "class-methods-use-this": "off",
        "import/no-namespace": "off"
    },
    "settings": {
        "import/resolver": "webpack"
    }
}
