.header {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #white;
    padding: 5px 20px 7px;
    color: black;
    align-items: baseline;
    font-size: 18px;
    line-height: 32px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 8px 0 rgba(0,0,0,.1),
}

.trace-id-container {
    margin-left: 20,
}

.gap {
    display: inline-block;
    width: 10,
}

.logo-icon {
    color: black;
    font-size: 23,
}

.logo-text {
    margin-left: 10,
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%,
}

.content {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100%,
}
