.header {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #ffffff;
    padding: 5px 20px 7px;
    color: #000000;
    align-items: baseline;
    font-size: 18px;
    line-height: 32px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header-content {
    margin-left: 20px;
}

.logo-icon {
    display: inline-block;
    color: #000000;
    position: relative;
    background-image: ~'url("./vostok-logo.svg")';
    background-size: 33px 33px;
    width: 30px;
    height: 30px;
    margin-bottom: -9px;
}

.logo-text {
    color: #000000;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
}

.content {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    flex: 1 0 100%;
    z-index: 0;
}
