.time-markers-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.time-marker-title {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 3px;
    color: #a0a0a0;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
}

.time-marker {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.08);
}
